body{
    background: #FC466B;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #3F5EFB, #FC466B);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #3F5EFB, #FC466B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#para1{
    width: 50%;
    text-align: justify; /* For Edge */
    text-align-last: justify;
    color: rgb(223, 226, 231)
 
 }
 #title{
    color: aliceblue;
    font-family: 'Changa', sans-serif;
     text-align:center;
    }                                   
    img {
        float: left;
      }
      /*تستخدم للتحكم في مكان وضع الصوره*/
      #hala{
        font-family: 'Reem Kufi', sans-serif;
      }